/* CONTENT STYLES */

* {
    margin: 0;
    padding: 0;
}

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Preload Animation */
#preloadAnimation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 1;
    pointer-events: none;
}
  
.preloadText {
    position: absolute;
    font-weight: 300;
    line-height: 130%;
    font-size: 35px;
    color: black;
    text-align: center;
    opacity: 0;
    transform: translateY(10px);
}

/* Home */

#home {
    transition: opacity 0.3s ease;
}

/* Resume Link */

.resume_link {
    cursor: pointer;
    font-size: 20px;
    font-weight: 300;
    z-index: 100
}

#desktop.resume_link {
    position: fixed;
    top: 5vh;
    right: 7vh;
}

#mobile.resume_link {
    display: flex;
    margin-top: 10px;
}

.resume_link a {
    color: #959595;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
    transition: color 200ms ease-in-out, text-decoration-color 200ms ease-in-out;
}

.resume_link a:visited {
    color: #959595;
    text-decoration-color: #959595;
}

.resume_link a:hover {
    color: black;
    text-decoration-color: black;
}

/* Sections */

html {
    scroll-behavior: smooth;
    background-color: #f5f5f5;
}

#hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 83vh;
    min-height: fit-content;
    overflow: hidden;
}

.main_title {
    display: flex;
    flex-direction: column;
    padding-top: 5vh;
    padding-left: 7vh;
    padding-bottom: 4vh;
    transition: opacity 0.3s ease;
}

.embla {
    display: flex;
    margin-top: 5vh;
    flex: 1; /* Ensures embla takes the remaining space */
    overflow: hidden;
}

.embla__container {
    display: flex;
    margin-left: 12vw;
    margin-right: 12vw;
    touch-action: pan-y pinch-zoom;
    align-items: baseline;
    height: 100%; /* Ensure it takes the full height of the container */
    
}

.embla__slide {
    flex: 0 0 auto; /* Adapt slide size to its content */
    min-width: 0;
    max-width: 100%; /* Prevent from growing larger than viewport */
    display: flex;
    align-items: flex-end; /* Align items to the bottom */
    height: 100%; /* Ensures the slide takes the full height of the container */
    opacity: 1; /* Initial opacity */
    transition: opacity 0.3s ease-in-out; /* Smooth transition */
}
  
.embla img {
    max-width: 90%;
    max-height: 100%;
    object-fit: contain; /* Ensures the image maintains aspect ratio */
    margin-right: 5vw;
    margin-left: 5vw;

    transition: transform 0.3s ease-in-out;
}

.scaled-down img {
    transform: scale(0.95);
}

.project_info {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    bottom: 5vh;
    left: 7vh;
    right: 7vh;
    max-width: 18vw;
    z-index: 10;
    mix-blend-mode:difference;
}

.index {
    width: 100%;
}

#indexList {
    opacity: 0;
    transition: opacity 300ms ease-in-out;
}

.index-entry {
    transition: font-weight 0.3s ease;
}

.project_title {
 width: 100%;
}

.project_year {
    width: 100%;
}

#case_study {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 0;
    min-height: fit-content;
    overflow: hidden;
    margin-top: 4vh;
    margin-bottom: 7vh;
}

#project_details {
    opacity: 0;
}

.spacer {
    height: 10vh;
}

.project_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.article_image {
    display: flex;
    width: 100%;
    height: auto;
}

/* Resume Page */

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow-y: auto; /* Enable vertical scrolling */
    background-color: #f5f5f5; /* Semi-transparent background */
    transition: opacity 0.3s ease;
}

.close_resume {
    display: flex;
    cursor: pointer;
    font-size: 20px;
    font-weight: 300;
}

.close_resume a {
    color: #959595;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
    transition: color 200ms ease-in-out, text-decoration-color 200ms ease-in-out;
}

.close_resume a:visited {
    color: #959595;
    text-decoration-color: #959595;
}

.close_resume a:hover {
    color: black;
    text-decoration-color: black;
}

body.modal-open {
    overflow: hidden; /* avoid scroll of bg when modal is open */
}

#about {
    display: flex;
    flex-direction: row;
    gap: 42px;
    height: fit-content;
    width: 100%;
}

#profile_picture {
    width: fill;
    max-height: 400px;
    object-fit: cover;
}

#about_text {
    display: flex;
    flex-direction: column;
}

#bio {
    height: fit-content;
}

#bio_links {
    display: flex;
    flex-direction: row;
}

#link {
    width: fit-content;
    cursor: pointer;
    color: #959595;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
    text-decoration-color: #959595;
}

#resume_page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    min-height: 100%;
}

#resume {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    height: 450;
    width: 100%;
    gap: 80px;
}

.resume_category {
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: fit-content;
}

.resume_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 42px;
    height: fit-content;
}

.single_entry {
    width: 315px;
}

#duration {
    padding-top: 20px;
}

footer {
    display: flex;
    padding-left: 7vh;
    padding-right: 7vh;
    padding-bottom: 5vh;
}

.copyright {
    margin-left: auto;
    margin-right: auto;
}


/* Responsiveness */

@media screen and (min-width: 1px) {
    h1 {
        font-size: 22px;
    }
    h2 {
        font-size: 22px;
    }
    h3 {
        font-size: 18px;
    }
    .preloadText {
        font-size: 25px;
    }
    .close_resume {
        position: relative;
        width: auto;
        top: 0;
        right: 0;
    }
    #resume_page {
        align-items: flex-start;
        padding-left: 32px;
        padding-right: 32px;
        padding-top: 5vh;
        padding-bottom: 14vh;
    }
    #about {
        flex-direction: column;
        padding-top: 5vh;
        padding-bottom: 0;
    }
    #about_text {
        flex-direction: column;
        justify-content: initial;
        width: fill;
        height: auto;
        gap: 30px;
    }
    .single_entry {
        width: 250px;
    }
    #resume {
        margin-top: 50px;
        width: initial;
    }
    #desktop.resume_link {
        display: none;
    }
    #mobile.resume_link {
        display: initial;
    }
    #hero {
        height: 100svh;
    }
    .main_title {
        margin-right: 32px;
        padding-left: 32px;
    }
    .project_info {
        position: relative;
        bottom: 0;
        left: initial;
        right: initial;
        margin-left: 32px;
        margin-right: 32px;
        margin-bottom: 32px;
        max-width: 100%;
        width: initial;
        height: 110px;
    }
    #index {
        display: none;
    }
    .project_title {
        margin-top: auto;
    }
    .project_header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .narrow {
        padding-left: 32px;
        padding-right: 32px;
    }
    .full_image {
        padding-left: 32px;
        padding-right: 32px;
        padding-top: 30vh;
        padding-bottom: 30vh;
        width: calc(100vw - 64px)
    }
}

@media screen and (min-width: 550px) {
    .project_header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media screen and (min-width: 834px) {
    h1 {
        font-size: 25px;
    }
    h2 {
        font-size: 22px;
    }
    h3 {
        font-size: 18px;
    }
    .preloadText {
        font-size: 35px;
    }
    .close_resume {
        position: relative;
        width: 315px;
        top: 0;
        right: 0;
    }
    #resume_page {
        align-items: initial;
        padding-top: 5vh;
        padding-left: 3vh;
        padding-right: 3vh;
        padding-bottom: 7vh;
    }
    #about {
        flex-direction: initial;
        padding-top: 5vh;
        padding-bottom: 0;
    }
    #about_text {
        flex-direction: column;
        width: 315px;
        height: 331px;
        justify-content: space-between;
    }
    .single_entry {
        width: 315px;
    }
    #resume {
        margin-top: 50px;
        width: initial;
    }
    #desktop.resume_link {
        display: none;
    }
    #mobile.resume_link {
        display: initial;
    }
    .main_title {
        padding-right: 7vh;
        padding-left: 7vh;
    }
    .project_info {
        position: relative;
        bottom: 5vh;
        left: auto;
        right: auto;
        margin-left: 7vh;
        margin-right: 7vh;
        margin-bottom: initial;
        padding-top: 50px;
        max-width: 850px;
        width: 100%;
        height: 110px;
    }
    .project_title {
        margin-top: auto;
    }
    .narrow {
        margin-left: 7vh;
        margin-right: 7vh;
        padding-left: 0;
        padding-right: 0;
        max-width: 850px;
    }
    .full_image {
        padding-left: 7vw;
        padding-right: 7vw;
        padding-top: 30vh;
        padding-bottom: 30vh;
        width: 86vw;
    }
}

@media screen and (min-width: 1024px) {
    h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 28px;
    }
    h3 {
        font-size: 20px;
    }
    .preloadText {
        font-size: 28px;
    }
    #resume_page {
        align-items: initial;
        padding-top: 6vh;
        padding-left: 7vh;
        padding-right: 7vh;
        padding-bottom: 5vh;
    }
    #about {
        flex-direction: initial;
        padding-top: 5vh;
        padding-bottom: 50px;
    }
    #resume {
        margin-top: 0;
        width: initial;
    }
    .main_title {
        padding-right: 160px;
        padding-left: 7vh;
        max-width: 800px;
    }
    .project_info {
        position: relative;
        bottom: 5vh;
        left: initial;
        right: initial;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: initial;
        width: 850px;
        max-width: initial;
        height: 110px;
    }
    .project_title {
        margin-top: auto;
    }
    .narrow {
        margin-left: auto;
        margin-right: auto;
    }
    .full_image {
        padding-left: 18vw;
        padding-right: 18vw;
        padding-top: 30vh;
        padding-bottom: 30vh;
        width: 64vw;
    }
}


@media screen and (min-width: 1250px) {

    #about {
        flex-direction: initial;
        padding-top: 0vh;
        padding-bottom: 50px;
    }

    .close_resume {
        position: fixed;
        width: initial;
        top: 5vh;
        right: 7vh;
    }

    #desktop.resume_link {
        display: initial;
    }
    #mobile.resume_link {
        display: none;
    }

}



@media screen and (min-width: 1440px) {

    h1 {
        font-size: 35px;
    }
    h2 {
        font-size: 35px;
    }
    .main_title {
        max-width: 50vw;
    }
    .preloadText {
        font-size: 35px;
    }
    #hero {
        height: 83vh;
        padding-bottom: 7vh;
    }
    .project_info {
        position: fixed;
        bottom: 5vh;
        left: 7vh;
        right: 7vh;
        margin-left: initial;
        margin-right: initial;
        margin-bottom: initial;
        width: initial;
        max-width: 12vw;
        height: initial;
    }
    #index {
        position: fixed;
        top: 50%;
    transform: translateY(-50%);
        display: block;
    }
    .project_title {
        margin-top: initial;
    }
}


@media screen and (min-width: 2300px) {
    .main_title {
        max-width: 35vw;
    }
}